
@{
    ViewData["Title"] = "Index";
    Layout ="~/Views/UILayout/Index.cshtml";
}

<h1>Filtre Detayları</h1>

<h2>
            @ViewBag.bookpickdate=bookpickdate;
            @ViewBag.bookoffdate=bookoffdate;
            @ViewBag.timeoff=timeoff;
            @ViewBag.locationID=locationID;
            @ViewBag.timepick=timepick;
</h2>